*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #081120;
    color: white;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.navbar{
    padding: 1.5rem 0;
}
.hero{
    min-height: 90vh;
    display: flex;
    align-items: center;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.hero-text{
    flex: 1;
}
.hero-text h1{
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hero-text p{
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #CBD5E1;
}
.hero-buttons{
    display: flex;
    gap: 1rem;
}
.hero-image{
    flex: 1;
}
.hero-image img{
    width: 100%;
}
.primary-btn{
    text-decoration: none;
    background: #2563EB;
    color:white;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-weight: 500;
}
.primary-btn:hover{
    background: #1D4ED8;
}
.secondary-btn{
    text-decoration: none;
    color:white;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #2563EB;
}
.secondary-btn:hover{
    background: #2563EB;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.nav-btn{
    text-decoration: none;
    background: #2563EB;
    color:white;
    padding: .8rem 1.5rem;
    border-radius: 8 px;
}
